.league-details-page{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: black;
    color:white;
}

.league-details-card{
    border: 5px solid;
    border-radius:10px;
    color: black;
    padding:5px;
}

.social-icons-style{
    text-align:center;
    font-size: 2em;
    padding: 1em;
}